.pdfContainer{
    border-top: 1px solid;
    min-height: calc(100vh - 80px);
    display: flex;

}
.sidebar{
    /* border: 2px solid red; */
    height: calc(100vh - 80px);
    width: 25vw;
    background-color: #3D5F6F;
    overflow: hidden;
    overflow-y: scroll;
}
.iframe iframe{
    height: calc(100vh - 80px);
    width: calc(100vw - 25vw);
}
<<<<<<< HEAD

=======
.sideList{
    /* border: 2px solid blue; */
    
}
>>>>>>> 1fc352f8a8c9b284872eed302708f3347a93b930
.sideList li{
    /* border: 2px solid red; */
    border-bottom: 1px solid #fff;
    padding: 2vmin;
}
.sideList li:hover{
    background-color: #61b3da;
    color: #3D5F6F;
    transition: .2s;
}
<<<<<<< HEAD
.sideList a{
=======
.sideList li a{
>>>>>>> 1fc352f8a8c9b284872eed302708f3347a93b930
    text-decoration: none;
    color: #fff;
}