.pdfContainer{
    border-top: 1px solid;
    min-height: calc(100vh - 80px);
    display: flex;

}
.sidebar{
    /* border: 2px solid red; */
    height: calc(100vh - 80px);
    width: 25vw;
    background-color: #3D5F6F;
    overflow: hidden;
    overflow-y: scroll;
}
.iframe iframe{
    height: calc(100vh - 80px);
    width: calc(100vw - 25vw);
}
.sideList{
    /* border: 2px solid blue; */
    
}
.sideList li{
    /* border: 2px solid red; */
    border-bottom: 1px solid #fff;
    padding: 2vmin;
}
.sideList li:hover{
    background-color: #61b3da;
    color: #3D5F6F;
    transition: .2s;
}
.sideList li a{
    text-decoration: none;
    color: #fff;
}